* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: tomato;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.parent div {
  background-color: tomato;
  border: 1px solid #fafafa;
  margin: 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent div h4 {
  color: #222;
}

.div1 {
  grid-area: 1 / 1 / 7 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 5;
}

.div3 {
  grid-area: 1 / 5 / 7 / 6;
}

.div4 {
  grid-area: 2 / 2 / 5 / 4;
}

.div5 {
  grid-area: 2 / 4 / 3 / 5;
}

.div6 {
  grid-area: 3 / 4 / 5 / 5;
}

.div7 {
  grid-area: 5 / 2 / 7 / 5;
}